@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: color-palette.$blue-400,
  $secondary: color-palette.$grey-400,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

html,
body {
  background-color: theme.$background;
  color: theme.$on-surface;
  font-family: "Roboto";
}

body {
 margin: 0;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

.swagger-ui * {
  color: inherit !important;
  background-color: inherit !important;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  display: block;
}

.cell_title {
  font-weight: 600;
  font-size: 1.5em;
  font-variant-caps: all-small-caps;
  padding-bottom: 10px;
}

.markdown > p {
  font-weight: var(--mdc-typography-subtitle1-font-weight, 200);
  font-size: var(--mdc-typography-subtitle1-font-size, 1rem);
}

.markdown > h1 {
  font-weight: var(--mdc-typography-subtitle1-font-weight, 400);
  font-size: var(--mdc-typography-subtitle1-font-size, 1.3rem);
}

.markdown > h2 {
  font-weight: var(--mdc-typography-subtitle1-font-weight, 300);
  font-size: var(--mdc-typography-subtitle1-font-size, 1.2rem);
}

.markdown > h3, h4, h5, th, td {
  font-size: var(--mdc-typography-subtitle1-font-size, 1.1rem);
}

.weather-night {
  display: none !important;
}

.weather-sunny {
  display: inline-block !important;
}
